* {
    padding: 0;
    margin: 0;
}

body {
    background-color:rgb(252, 246, 238)
}

  
.divs {
    margin-left: 0.25rem;
    font-family:'Courier New', Courier, monospace;
}
  
.drawer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.kaestchen {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}

#container {
    position: relative;
    
}
